/* reset */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

button {
  cursor: pointer;
}
:root {
  --main-color: #fffefc;
  --secondary-color: #f5f6f7;
  --btn-color: #4c9de0;
  --header-color: #9de074;
}
/* css */
.block__1 {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--secondary-color);
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.block__1--box {
  gap: 40px;
  justify-content: center;
}
.block__1--item-1 {
  max-width: 400px;
  background-color: var(--secondary-color);
}
.block__1--item-1 h1 {
  color: var(--header-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.block__1--item-1 p {
  margin-bottom: 20px;
}
.block__1--item-2 {
  height: 400px;
  display: block;
  background-color: var(--secondary-color);
}
.block__1--item-2 img {
  width: 100%;
  height: 100%;
}

.main__btn {
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: var(--btn-color);
  color: var(--main-color);
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  max-width: 180px;
  transition: background-color 0.25s ease-out;
  transition: ;
  display: block;
}
.main__btn:hover,
.main__btn:focus {
  color: var(--btn-color);
  outline: 2px solid var(--btn-color);
  background-color: var(--main-color);
}
/* 
 */
/* block2 */

.block__2 {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--main-color);
}
.block__2 h2 {
  color: var(--header-color);
  background: #333333;
  text-align: center;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
}
.size__list {
  margin-top: 44px;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.size__item {
  max-width: 244px;
  display: block;
  flex-basis: calc((100% - 40px) / 1);
}

.size__item--box {
  position: relative;
}
.size__item--link {
  color: var(--header-color);
  width: 100%;
  background-color: var(--secondary-color);
  font-weight: bold;
  font-size: 82px;
  display: block;
  padding-bottom: 15px;
}

.size__item--link p {
  margin-left: 15px;
  font-size: 24px;
  color: #111;
  transition: transform 0.3s ease-in-out;
}
.size__item--link:hover,
.size__item--link:focus {
  color: #111;
}
.size__item--link:hover p,
.size__item--link:focus p {
  color: var(--header-color);
}
.size__item--link:hover h3,
.size__item--link:focus h3 {
  transform: translateY(-40px) scale(1.1);
}

.size__item--link h3 {
  margin-left: 15px;
  margin-right: 15px;
  transform: translateY(-35px);
  transition: transform 0.3s ease-in-out;
}
/*  */
/*  */
/*  */
/* block3 */
.block__3 {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--main-color);
}
.block__3 h2 {
  color: var(--header-color);
  background: #333333;
  text-align: center;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
}
.gravure__item {
  max-width: 244px;
  display: block;
  flex-basis: calc((100% - 40px) / 1);
}

.gravure__item--link {
  color: var(--header-color);
  width: 100%;
  font-weight: bold;
  font-size: 82px;
  display: block;
  padding-bottom: 15px;
}

.gravure__item--link p {
  margin-top: 8px;
  border-radius: 6px;
  font-size: 24px;
  color: #111;
  background-color: var(--secondary-color);
  padding: 8px;
  transition: transform 0.3s ease-in-out;
}
.gravure__item--link:hover,
.gravure__item--link:focus {
  color: #111;
}
.gravure__item--link:hover p,
.gravure__item--link:focus p {
  color: var(--header-color);
}
.gravure__item--link:hover .gravimg,
.gravure__item--link:focus .gravimg {
  transform: translateY(-35px) scale(1.1);
}

.gravure__item--link:hover .gravure__btn,
.gravure__item--link:focus .gravure__btn {
  color: #f5ed31;
  background-color: #111;
}
.gravure__item--link .gravimg {
  transform: translateY(-35px);
  transition: transform 0.3s ease-in-out;
}

.gravure__item h2 {
  color: #111;
  background: none;
  margin-bottom: 50px;
}
.gravure__btn {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  color: #111;
  background-color: #f5ed31;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}
/* media */

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}
@media screen and (min-width: 768px) {
  .block__1--box {
    display: flex;
  }
}
@media screen and (min-width: 480px) {
  .size__item {
    flex-basis: calc((100% - 40px) / 2);
  }
}
@media screen and (min-width: 480px) {
  .size__item {
    flex-basis: calc((100% - 40px) / 2);
  }
}
